<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="com.hitcents.monogametest" android:versionCode="1" android:versionName="1.0.0">
  <uses-feature android:glEsVersion="0x00020000" android:required="true" />
  <uses-sdk android:targetSdkVersion="16" />
  <application android:label="Test MonoGame" android:icon="@drawable/Icon" />
  <supports-screens android:smallScreens="false" android:normalScreens="true" android:largeScreens="true" android:anyDensity="true" />
</manifest>